html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.single-page-potluck {
    margin: 3% auto 3% 22%;
    border: 3px solid #3D3D3D;
    border-radius: 7px;
    width: 70%;
}
.targeting-background-div{
    background-color: #F9F9F9;
}
#card-body-fixer-upper{
    border:none;
    padding:none;
}
.card h4 {
    color: #3D3D3D;
    width:25%;
    margin:auto;
    padding-bottom: .8%;
    font-size: 50px;
    /* border-bottom: 3px solid #3D3D3D;  */
}
.card h6{
    text-align:center;
    margin: 2% auto 1% auto;
    font-size:25px;
    color:#3D3D3D;
    border-bottom: 3px solid #3D3D3D;
    width:12.5%;
}
.nav{
    border-color: #3D3D3D
}
.nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    /* border: 2px solid white; */
}
.nav-link:hover{
    font-weight: bold;
    color: white;
    /* border: 2px solid white; */
}
/* .nav-item{
    border: 1px solid #3D3D3D;
} */
.nav-tabs{
    background-color: #FE7C5C;
    border: 3px solid #FE7C5C;
}
#single-event-p p{
    font-size:25px;
}
#styled-p-nav {
    font-size:20px;
    color: #3D3D3D
}
.single-page-potluck img {
    margin:auto;
    width:85%;
    border-radius: 10px;
}
#single-event-p{
    font-size:25px;
    color: #3D3D3D;
    margin-bottom:.5%;
}
.event-info-labels{
    font-size:30px;
    font-weight:bold;
}
.event-info-border{
    border: 1px dashed #3D3D3D;
    width:20%;
    margin: auto;
}
.single-page-button{
    display: flex;
    justify-content: space-between;
}
.single-page-button button {
    width: 10%;
    font-size:18px;
    font-weight:bold;
    margin-top:3%;
    padding: .70% 
}
#delete-btn{
    background-color: #F4313F;
    position:absolute;
    margin-left:7.5%;
    border: 2px solid #F4313F;
}
#delete-btn:hover {
    color: #F4313F;
    font-weight:bold;
    background-color: white;
    border: 2px solid #F4313F;
}
#edit-btn{
    background-color: #DC9A53;
    margin-left:45%;
    border: 2px solid #DC9A53;
}
#edit-btn:hover {
    color: #DC9A53;
    font-weight:bold;
    background-color: white;
    border: 2px solid #DC9A53;
}
#back-btn{
    background-color: #FDA6D0;
    margin-right:7.5%;
    border: 2px solid #FDA6D0;
}
#back-btn:hover {
    color: #FDA6D0;
    font-weight:bold;
    background-color: white;
    border: 2px solid #FDA6D0
}
.form-group{
    margin-top:16px;
}
#cancel-btn{
    font-size:18px;
    font-weight:bold;
    padding: 1.5%;
    background-color: #F4313F;
    border: 2px solid #F4313F;
}
#cancel-btn:hover {
    color: #F4313F;
    font-weight:bold;
    background-color: white;
    border: 2px solid #F4313F;
}
#confirm-btn{
    font-size:18px;
    font-weight:bold;
    margin-top:5%;
    padding: 1.5%;
    background-color: #DC9A53;
    border: 2px solid #DC9A53;
}
#confirm-btn:hover {
    color: #DC9A53;
    font-weight:bold;
    background-color: white;
    border: 2px solid #DC9A53;
}
.dashboard-cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    margin-top:3%;
}
.dashboard-cards h2{
    color: #3D3D3D;
    margin-bottom:5%;
}